.sign-in
  %article.sign-up
    = render "users/shared/links"
  %article.sign-in-classic
    %h2 Supercat
    = form_for(resource, :as => resource_name, :class => 'login-form', :url => session_path(resource_name)) do |f|
      = f.email_field :email, :autofocus => true, :placeholder => 'Email or Pseudo', :class => 'input pseudo'
      = f.password_field :password, :placeholder => 'Password', :class => 'input password'
      = f.submit "Sign in", :class => 'button submit login'
      - if devise_mapping.rememberable?
        .remember
          = f.check_box :remember_me
          = f.label :remember_me
  %article.sign-in-social
    = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
    = link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter)
    = link_to "Sign in with Google +", user_omniauth_authorize_path(:google_oauth2)